{% extends 'mysite/index.html' %}
{% load static %}


{% block content %}
    <div class="col-lg-10">
     <div class="card">
          <div class="card-header">
                <strong>Department List</strong>
            </div>
            <div class="card-body card-block">
                <form action="{% url 'adddept' %}" method="POST" class="form-horizontal">
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="hf-email" class=" form-control-label">Empty</label>
                        </div>

                    </div>
                </form>

            </div>
            </div>

        </div>
        </div>
    </div>

{% endblock %}

<!-- end document-->
